/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
main {
    min-height: calc(100vh - 200px);
}
.services {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    cursor: pointer;
}

.services h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.services .description {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.service {
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service p {
    color: #777;
    font-size: 0.9em;
}

.service:hover {
    transform: translateY(-10px);
}

.learn-more {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 30px;
    background-color: #00BCD4;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.learn-more:hover {
    background-color: #0097A7;
}